.panel.panel-default
  .panel-heading.clearfix
    .input-group
      = search_field_tag :filter_projects, nil, placeholder: '名称过滤', class: 'projects-list-filter form-control'
      - if current_user.can_create_project?
        %span.input-group-btn
          = link_to new_project_path, class: 'btn btn-success' do
            新项目

  = render 'shared/projects_list', projects: @projects, projects_limit: 20
