= form_for [:admin, @user, @identity], html: { class: 'form-horizontal fieldset-form' } do |f|
  - if @identity.errors.any?
    #error_explanation
      .alert.alert-danger
        - @identity.errors.full_messages.each do |msg|
          %p= msg

  .form-group
    = f.label :provider, "提供者", class: 'control-label'
    .col-sm-10
      - values = Gitlab::OAuth::Provider.providers.map { |name| ["#{Gitlab::OAuth::Provider.label_for(name)} (#{name})", name] }
      = f.select :provider, values, { allow_blank: false }, class: 'form-control'
  .form-group
    = f.label :extern_uid, "身份", class: 'control-label'
    .col-sm-10
      = f.text_field :extern_uid, class: 'form-control', required: true

  .form-actions
    = f.submit '保存变更', class: "btn btn-save"

