- page_title "比较"
= render "projects/commits/head"

%h3.page-title
  比较视图
%p.slead
  比较分支、标签或提交范围。
  %br
  填写诸如
  %code.label-branch 4eedf23
  这样的提交 ID 或
  %code.label-branch master
  这种分支/标签名，然后点击比较按钮获取提交列表和代码差异。
  %br
  显示<b>从</b>第一个版本<b>到</b>第二个版本的差异。

= render "form"
