.diff-file
  .diff-content
    - if gitlab_markdown?(@blob.name)
      .file-content.wiki
        = preserve do
          = markdown(@content)
    - elsif markup?(@blob.name)
      .file-content.wiki
        = raw render_markup(@blob.name, @content)
    - else
      .file-content.code
        - unless @diff_lines.empty?
          %table.text-file
            - @diff_lines.each do |line|
              %tr.line_holder{ class: "#{line.type}" }
                - if line.type == "match"
                  %td.old_line= "..."
                  %td.new_line= "..."
                  %td.line_content.matched= line.text
                - else
                  %td.old_line
                  %td.new_line
                  %td.line_content{class: "#{line.type}"}= raw diff_line_content(line.text)
        - else
          .nothing-here-block 没有修改。
