%li
  %h4.project-title
    .project-access-icon
      = visibility_level_icon(project.visibility_level)
    = link_to project.name_with_namespace, [project.namespace.becomes(Namespace), project]
    %span.pull-right
      %i.fa.fa-star
      = project.star_count

  .project-info
    - if project.description.present?
      .project-description.str-truncated
        = markdown(project.description, pipeline: :description)

    .repo-info
      - unless project.empty_repo?
        = link_to pluralize(round_commit_count(project), '次提交', '次提交'), namespace_project_commits_path(project.namespace, project, project.default_branch)
        &middot;
        = link_to pluralize(project.repository.branch_names.count, '个分支', '个分支'), namespace_project_branches_path(project.namespace, project)
        &middot;
        = link_to pluralize(project.repository.tag_names.count, '个标签', '个标签'), namespace_project_tags_path(project.namespace, project)
      - else
        %i.fa.fa-exclamation-triangle
        空版本库
