%li{class: "milestone milestone-#{milestone.closed? ? 'closed' : 'open'}", id: dom_id(milestone.milestones.first) }
  .pull-right
    - if can?(current_user, :admin_group, @group)
      - if milestone.closed?
        = link_to '重新打开里程碑', group_milestone_path(@group, milestone.safe_title, title: milestone.title, milestone: {state_event: :activate }), method: :put, class: "btn btn-sm btn-grouped btn-reopen"
      - else
        = link_to '关闭里程碑', group_milestone_path(@group, milestone.safe_title, title: milestone.title, milestone: {state_event: :close }), method: :put, class: "btn btn-sm btn-close"
  %h4
    = link_to_gfm truncate(milestone.title, length: 100), group_milestone_path(@group, milestone.safe_title, title: milestone.title)
  .row
    .col-sm-6
      = link_to issues_group_path(@group, milestone_title: milestone.title) do
        = pluralize milestone.issue_count, '个问题', '个问题'
      &nbsp;
      = link_to merge_requests_group_path(@group, milestone_title: milestone.title) do
        = pluralize milestone.merge_requests_count, '个合并请求', '个合并请求'
      &nbsp;
      %span.light #{milestone.percent_complete}% 完成
    .col-sm-6
      = milestone_progress_bar(milestone)
  %div
    - milestone.milestones.each do |milestone|
      = link_to milestone_path(milestone) do
        %span.label.label-gray
          = milestone.project.name
