- page_title    '新项目'
- header_title  '新项目'
.project-edit-container
  .project-edit-errors
    = render 'projects/errors'
  .project-edit-content

    = form_for @project, html: { class: 'new_project form-horizontal js-requires-input' } do |f|
      .form-group.project-name-holder
        = f.label :path, class: 'control-label' do
          %strong 项目路径
        .col-sm-10
          .input-group
            = f.text_field :path, placeholder: "my-awesome-project", class: "form-control", tabindex: 1, autofocus: true, required: true
            .input-group-addon
              \.git

      - if current_user.can_select_namespace?
        .form-group
          = f.label :namespace_id, class: 'control-label' do
            %span 命名空间
          .col-sm-10
            = f.select :namespace_id, namespaces_options(params[:namespace_id] || :current_user), {}, {class: 'select2', tabindex: 2}

      %hr

      .project-import.js-toggle-container
        .form-group
          %label.control-label 导入项目
          .col-sm-10
            - if github_import_enabled?
              = link_to status_import_github_path, class: 'btn' do
                %i.fa.fa-github
                GitHub
            - else
              = link_to '#', class: 'how_to_import_link light btn' do
                %i.fa.fa-github
                GitHub
              = render 'github_import_modal'


            - if bitbucket_import_enabled?
              = link_to status_import_bitbucket_path, class: 'btn', "data-no-turbolink" => "true" do
                %i.fa.fa-bitbucket
                Bitbucket
            - else
              = link_to '#', class: 'how_to_import_link light btn' do
                %i.fa.fa-bitbucket
                Bitbucket
              = render 'bitbucket_import_modal'

            - unless request.host == 'gitlab.com'
              - if gitlab_import_enabled?
                = link_to status_import_gitlab_path, class: 'btn' do
                  %i.fa.fa-heart
                  GitLab.com
              - else
                = link_to '#', class: 'how_to_import_link light btn' do
                  %i.fa.fa-heart
                  GitLab.com
                = render 'gitlab_import_modal'

            = link_to new_import_gitorious_path, class: 'btn' do
              %i.icon-gitorious.icon-gitorious-small
              Gitorious.org

            = link_to new_import_google_code_path, class: 'btn' do
              %i.fa.fa-google
              Google 代码

            = link_to "#", class: 'btn js-toggle-button' do
              %i.fa.fa-git
              %span 其他仓库的链接

        .js-toggle-content.hide
          .form-group.import-url-data
            = f.label :import_url, class: 'control-label' do
              %span Git 版本仓库链接
            .col-sm-10
              = f.text_field :import_url, class: 'form-control', placeholder: 'https://username:password@gitlab.company.com/group/project.git'
              .well.prepend-top-20
                %ul
                  %li
                    版本仓库必须使用 HTTP(S) 访问。链接必须能公开访问或指定用户名和密码类似：<code>https://username:password@gitlab.company.com/group/project.git</code>.
                  %li
                    导入超过 4 分钟将会超时。对于大仓库，请使用 clone/push 组合操作。
                  %li
                    对于合并 SVN 仓库，请查看#{link_to "文档", "http://doc.gitlab.com/ce/workflow/migrating_from_svn.html"}。

      %hr.prepend-botton-10

      .form-group
        = f.label :description, class: 'control-label' do
          描述
          %span.light (可选)
        .col-sm-10
          = f.text_area :description, placeholder: "Awesome project", class: "form-control", rows: 3, maxlength: 250, tabindex: 3
      = render 'shared/visibility_level', f: f, visibility_level: default_project_visibility, can_change_visibility_level: true, form_model: @project

      .form-actions
        = f.submit '创建项目', class: "btn btn-create project-submit", tabindex: 4

        - if current_user.can_create_group?
          .pull-right
            .light
              需要一个有多个关联项目的群组？
              = link_to new_group_path, class: "btn btn-xs" do
                创建群组

.save-project-loader.hide
  .center
    %h2
      %i.fa.fa-spinner.fa-spin
      正在创建项目 &amp; 版本库。
    %p 请稍候，页面会处理完成后自动刷新。

:coffeescript
  $('.how_to_import_link').bind 'click', (e) ->
    e.preventDefault()
    import_modal = $(this).next(".modal").show()
  $('.modal-header .close').bind 'click', ->
    $(".modal").hide()
