.mr-state-widget
  = render 'projects/merge_requests/widget/heading'
  .mr-widget-body
    %h4
      已合并
      - if @merge_request.merge_event
        由 #{link_to_member(@project, @merge_request.merge_event.author, avatar: true)}
        #{time_ago_with_tooltip(@merge_request.merge_event.created_at)}
    %div
      - if !@merge_request.source_branch_exists?
        = succeed '。' do
          变更已合并到
          %span.label-branch= @merge_request.target_branch
        来源分支已被删除。

      - elsif can_remove_branch?(@merge_request.source_project, @merge_request.source_branch)
        .remove_source_branch_widget
          %p 
            = succeed '。' do
              变更已合并到
              %span.label-branch= @merge_request.target_branch
            现在可以删除来源分支。
          = link_to namespace_project_branch_path(@merge_request.source_project.namespace, @merge_request.source_project, @source_branch), remote: true, method: :delete, class: "btn btn-primary btn-sm remove_source_branch" do
            %i.fa.fa-times
            删除来源分支

        .remove_source_branch_widget.failed.hide
          %p
            删除来源分支 '#{@merge_request.source_branch}' 失败。

        .remove_source_branch_in_progress.hide
          %p
            = icon('spinner spin')
            正在删除来源分支 '#{@merge_request.source_branch}'。请稍候。页面将会被自动重载。

        :coffeescript
          $('.remove_source_branch').on 'click', ->
            $('.remove_source_branch_widget').hide()
            $('.remove_source_branch_in_progress').show()

          $(".remove_source_branch").on "ajax:success", (e, data, status, xhr) ->
            location.reload()

          $(".remove_source_branch").on "ajax:error", (e, data, status, xhr) ->
            $('.remove_source_branch_widget').hide()
            $('.remove_source_branch_in_progress').hide()
            $('.remove_source_branch_widget.failed').show()


