- page_title "网络", @ref
= render "head"
.project-network
  .controls
    = form_tag namespace_project_network_path(@project.namespace, @project, @id), method: :get, class: 'form-inline network-form' do |f|
      = text_field_tag :extended_sha1, @options[:extended_sha1], placeholder: "输入扩展 SHA1 语法", class: 'search-input form-control input-mx-250 search-sha'
      = button_tag class: 'btn btn-success' do
        = icon('search')
      .inline.prepend-left-20
        .checkbox.light
          = label_tag :filter_ref do
            = check_box_tag :filter_ref, 1, @options[:filter_ref]
            %span 从选择的提交开始

  .network-graph
    = spinner nil, true

:javascript
  network_graph = new Network({
    url: "#{escape_javascript(@url)}",
    commit_url: "#{escape_javascript(@commit_url)}",
    ref: "#{escape_javascript(@ref)}",
    commit_id: '#{@commit.id}'
  })
  new ShortcutsNetwork(network_graph.branch_graph)
