%header.navbar.navbar-fixed-top.navbar-gitlab{ class: nav_header_class }
  .container
    .header-logo
      = link_to root_path, class: 'home', title: '仪表盘', id: 'js-shortcuts-home', data: {toggle: 'tooltip', placement: 'bottom'} do
        = brand_header_logo
        .gitlab-text-container
          %h3 GitLab
    .header-content
      %button.navbar-toggle{type: 'button'}
        %span.sr-only 切换导航条
        = icon('bars')

      .navbar-collapse.collapse
        %ul.nav.navbar-nav.pull-right
          %li.hidden-sm.hidden-xs
            = render 'layouts/search'
          %li.visible-sm.visible-xs
            = link_to search_path, title: '搜索', data: {toggle: 'tooltip', placement: 'bottom'} do
              = icon('search')
          %li.hidden-xs
            = link_to help_path, title: '帮助', data: {toggle: 'tooltip', placement: 'bottom'} do
              = icon('question-circle fw')
          %li
            = link_to explore_root_path, title: '浏览', data: {toggle: 'tooltip', placement: 'bottom'} do
              = icon('globe fw')
          %li
            = link_to user_snippets_path(current_user), title: '代码片段', data: {toggle: 'tooltip', placement: 'bottom'} do
              = icon('clipboard fw')
          - if current_user.is_admin?
            %li
              = link_to admin_root_path, title: '管理区域', data: {toggle: 'tooltip', placement: 'bottom'} do
                = icon('wrench fw')
          - if current_user.can_create_project?
            %li.hidden-xs
              = link_to new_project_path, title: '新项目', data: {toggle: 'tooltip', placement: 'bottom'} do
                = icon('plus fw')
          %li
            = link_to profile_path, title: '个人资料设置', data: {toggle: 'tooltip', placement: 'bottom'} do
              = icon('cog fw')
          %li
            = link_to destroy_user_session_path, class: 'logout', method: :delete, title: '退出', data: {toggle: 'tooltip', placement: 'bottom'} do
              = icon('sign-out')

      %h1.title= title

= render 'shared/outdated_browser'
