- page_title "标签"
- if can? current_user, :admin_label, @project
  = link_to new_namespace_project_label_path(@project.namespace, @project), class: "pull-right btn btn-new" do
    新标签
%h3.page-title
  标签
%hr

.labels
  - if @labels.present?
    %ul.bordered-list.manage-labels-list
      = render @labels
    = paginate @labels, theme: 'gitlab'
  - else
    .light-well
      - if can? current_user, :admin_label, @project
        .nothing-here-block 创建第一个标签或者#{link_to '生成', generate_namespace_project_labels_path(@project.namespace, @project), method: :post}默认标签组
      - else
        .nothing-here-block 没有标签被创建
