%h3 #{@author.name} #{@action_name} #{@ref_type} #{@ref_name} 在 #{link_to @project.name_with_namespace, namespace_project_url(@project.namespace, @project)}

- if @compare
  - if @reverse_compare
    %p
      %strong 警告：
      此推送不包含任何提交，但强制推送会删除下面的提交和变更。

  %h4
    = @reverse_compare ? "删除的提交；" : "提交；"

  %ul
    - @commits.each do |commit|
      %li
        %strong #{link_to commit.short_id, namespace_project_commit_url(@project.namespace, @project, commit)}
        %div
          %span 由 #{commit.author_name}
          %i 在 #{commit.committed_date.strftime("%Y-%m-%dT%H:%M:%SZ")}
        %pre.commit-message 
          = commit.safe_message

  %h4 #{pluralize @diffs.count, "个修改的文件", "个修改的文件"}:

  %ul
    - @diffs.each_with_index do |diff, i|
      %li.file-stats
        %a{href: "#{@target_url if @disable_diffs}#diff-#{i}" }
          - if diff.deleted_file
            %span.deleted-file
              &minus;
              = diff.old_path
          - elsif diff.renamed_file
            = diff.old_path
            &rarr;
            = diff.new_path
          - elsif diff.new_file
            %span.new-file
              &#43;
              = diff.new_path
          - else
            = diff.new_path

  - unless @disable_diffs
    %h4 变更：
    - @diffs.each_with_index do |diff, i|
      %li{id: "diff-#{i}"}
        %a{href: @target_url + "#diff-#{i}"}
          - if diff.deleted_file
            %strong
              = diff.old_path
            已删除
          - elsif diff.renamed_file
            %strong
              = diff.old_path
            &rarr;
            %strong
              = diff.new_path
          - else
            %strong
              = diff.new_path
        %hr
        = color_email_diff(diff.diff)
        %br

  - if @compare.timeout
    %h5 巨大差异。因为性能原因隐藏问题变更
