.event-title
  %span.author_name= link_to_author event
  %span.event_label
    = event.action_name
    = event_note_title_html(event)
    在
    
  - if event.project
    = link_to_project event.project
  - else
    = event.project_name

.event-body
  .event-note
    .md
      %i.fa.fa-comment-o.event-note-icon
      = event_note(event.target.note, project: event.project)
    - note = event.target
    - if note.attachment.url
      - if note.attachment.image?
        = link_to note.attachment.url, target: '_blank' do
          = image_tag note.attachment.url, class: 'note-image-attach'
      - else
        = link_to note.attachment.url, target: "_blank", class: 'note-file-attach' do
          %i.fa.fa-paperclip
          = note.attachment_identifier
