- page_title "#{@issue.title} (##{@issue.iid})", "问题"
.issue
  .issue-details.issuable-details
    %h4.page-title
      .issue-box{ class: issue_box_class(@issue) }
        - if @issue.closed?
          已关闭
        - else
          未关闭
      问题 ##{@issue.iid}
      %small.creator
        &middot; 创建时间 #{link_to_member(@project, @issue.author)}
        = time_ago_with_tooltip(@issue.created_at, placement: 'bottom', html_class: 'issue_created_ago')
        - if @issue.updated_at != @issue.created_at
          %span
            &middot;
            = icon('edit', title: '编辑时间')
            = time_ago_with_tooltip(@issue.updated_at, placement: 'bottom', html_class: 'issue_edited_ago')

      .pull-right
        - if can?(current_user, :create_issue, @project)
          = link_to new_namespace_project_issue_path(@project.namespace, @project), class: 'btn btn-grouped new-issue-link', title: '新问题', id: 'new_issue_link' do
            = icon('plus')
            新问题
        - if can?(current_user, :update_issue, @issue)
          - if @issue.closed?
            = link_to '重新打开', issue_path(@issue, issue: {state_event: :reopen}, status_only: true), method: :put, class: 'btn btn-grouped btn-reopen'
          - else
            = link_to '关闭', issue_path(@issue, issue: {state_event: :close}, status_only: true), method: :put, class: 'btn btn-grouped btn-close', title: '关闭问题'

          = link_to edit_namespace_project_issue_path(@project.namespace, @project, @issue), class: 'btn btn-grouped issuable-edit' do
            = icon('pencil-square-o')
            编辑

    %hr
    %h2.issue-title
      = gfm escape_once(@issue.title)
    %div
      - if @issue.description.present?
        .description{class: can?(current_user, :update_issue, @issue) ? 'js-task-list-container' : ''}
          .wiki
            = preserve do
              = markdown(@issue.description)
          %textarea.hidden.js-task-list-field
            = @issue.description

    %hr
  .issue-discussion
    = render 'projects/issues/discussion'
